@model Scarpe.Models.Prodotti

@{
    ViewBag.Title = "Dettagli";
}

<span class="fs-6">@Html.ActionLink("Indietro", "Index")</span>

<h2>Dettagli</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-6">
            <img src="../.@Model.Immagine1" alt="product-image" style="width: 300px">
            <img src="../.@Model.Immagine2" alt="product-image" style="width: 300px">
            <img src="../.@Model.Immagine3" alt="product-image" style="width: 300px">
        </div>

        <div class="col-6">
            <h3>@Model.Nome</h3>
            <p>@Model.Descrizione</p>
            <p>@Model.Prezzo</p>
        </div>

    </div>

</div>



